---
import Layout from '../../../../layouts/Layout.astro';
import { AIExamResult } from '../../../../components/ai-exams';

const { attemptId } = Astro.params;

if (!attemptId) {
  return Astro.redirect('/');
}
---

<Layout title="Resultado del Examen" brand="umx">
  <div class="py-8">
    <AIExamResult client:load attemptId={attemptId} />
  </div>
</Layout>
