---
import AdminLayout from '../../../layouts/AdminLayout.astro';
import ProtectedRoute from '../../../components/auth/ProtectedRoute';
import ExamEditor from '../../../components/exams/ExamEditor';
---

<AdminLayout title="Crear Nuevo Examen" currentPath="/admin/exams">
  <ProtectedRoute client:load>
    <div class="max-w-5xl mx-auto">
      <ExamEditor client:load />
    </div>
  </ProtectedRoute>
</AdminLayout>
