---
import AdminLayout from '../../../../layouts/AdminLayout.astro';
import ProtectedRoute from '../../../../components/auth/ProtectedRoute';
import ExamAttemptsList from '../../../../components/exams/ExamAttemptsList';

export const prerender = false;

const { id } = Astro.params;

if (!id) {
  return Astro.redirect('/admin/exams');
}
---

<AdminLayout title="Resultados del Examen" currentPath="/admin/exams">
  <ProtectedRoute client:load>
    <div class="max-w-7xl mx-auto">
      <ExamAttemptsList client:load examId={id} />
    </div>
  </ProtectedRoute>
</AdminLayout>
