---
import LoginForm from '../components/auth/LoginForm';
import '../styles/global.css';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Plataforma de Formulario" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>Evaluo</title>
  </head>
  <body>
    <LoginForm client:only="react" />
  </body>
</html>
