---
import LoginForm from '../components/auth/LoginForm';
import LoginOrDashboard from '../components/common/LoginOrDashboard';
import '../styles/global.css';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Plataforma de Formulario" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>Forms</title>
  </head>
  <body>
    <LoginOrDashboard client:only="react" />
    <LoginForm client:load />
  </body>
</html>
